{% load staticfiles %}

<html>
<head>
    <title>Video Detail</title>
    <link rel="stylesheet" href="/static/css/test.css">
</head>
<body>
<div class="content container">
    <header class="page-header">
        <h1>Video Detail</h1>
    </header>
    <div class="row">
        <div class="col-md-16">
            <div id="player"></div>
            <video width='1000' controls>
            <source src='{{ MEDIA_URL }}{{ videofile }}' type='video/mp4'>
                Your browser does not support the video tag.    
            </video>
            <br><br>
        </div>
    </div>


        <!--<h2>Ratio Display area</h2>-->
    <!--<h2> {{ alcohol_dict }} </h2>-->
    <!--<h2> {{ boob_dict }} </h2>-->
    <!--<h2> {{ cigarette_dict }} </h2>-->
    <!--<h2> {{ knife_dict }} </h2>-->
    <!--<h2> {{ gun_dict }} </h2>-->






    <!-- 여기부터 타임라인 띄웁니당 -->
    <body style="background-color: #eee">
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <br>
        <div class="list-grouplist-group" id="list">
          <!--<li class="list-group-item">-->
            <span class="progress-bar-label list-group-item-heading lead"> Alcohol  {{ ratios.alcohol }}%  </span>
            <div class="Timeline">
              <svg height="8" style="width:100%">
                  <line x1="0%" y1="5" x2="100%" y2="5" style="stroke:#AAAAAA;stroke-width:8" />

                  {% for x1, x2 in time_dict.alcohol.items %}
                     <!--<circle cx={{ x1 }} cy="5" r="8" fill="#bfff00"/>-->
                     <line x1={{ x1 }} y1="5" x2={{ x2 }} y2="5" style="stroke:#bfff00;stroke-width:8" />
                     <!--<circle cx={{ x2 }} cy="5" r="8" fill="#bfff00"/>-->
                  {% endfor %}
                     </svg>

            </div>
          <!--</li>-->
          <!--<li class="list-group-item">-->
            <span class="progress-bar-label list-group-item-heading lead"> Boob {{ ratios.boob }}% </span>
            <div class="Timeline">
              <svg height="10" style="width:100%">
                        <line x1="0%" y1="5" x2="100%" y2="5" style="stroke:#AAAAAA;stroke-width:8" />

                     {% for x1, x2 in time_dict.boob.items %}
                     <!--<circle cx={{ x1 }} cy="5" r="8" fill="#ff8f79"/>-->
                     <line x1={{ x1 }} y1="5" x2={{ x2 }} y2="5" style="stroke:#ff8f79;stroke-width:8" />
                     <!--<circle cx={{ x2 }} cy="5" r="8" fill="#ff8f79"/>-->
                     {% endfor %}

              </svg>

            </div>
          <!--</li>-->
          <!--<li class="list-group-item">-->
            <span class="progress-bar-label list-group-item-heading lead">Cigarette {{ ratios.cigarette }}% </span>
            <div class="Timeline">
              <svg height="10" style="width:100%">
                     <line x1="0%" y1="5" x2="100%" y2="5" style="stroke:#AAAAAA;stroke-width:8" />

                     {% for x1, x2 in time_dict.cigarette.items %}
                     <!--<circle cx={{ x1 }} cy="5" r="8" fill="#660099"/>-->
                     <line x1={{ x1 }} y1="5" x2={{ x2 }} y2="5" style="stroke:#660099;stroke-width:8" />
                     <!--<circle cx={{ x2 }} cy="5" r="8" fill="#660099"/>-->
                     {% endfor %}
                     </svg>

            </div>
          <!--</li>-->
          <!--<li class="list-group-item">-->
            <span class="progress-bar-label list-group-item-heading lead">Knife {{ ratios.knife }}% </span>
            <div class="Timeline">
              <svg height="10" style="width:100%">
                        <line x1="0%" y1="5" x2="100%" y2="5" style="stroke:#AAAAAA;stroke-width:8" />


                     {% for x1, x2 in time_dict.knife.items %}
                     <!--<circle cx={{ x1 }} cy="5" r="5" fill="#003458"/>-->
                     <line x1={{ x1 }} y1="5" x2={{ x2 }} y2="5" style="stroke:#003458;stroke-width:8" />
                     <!--<circle cx={{ x2 }} cy="5" r="5" fill="#003458"/>-->
                     {% endfor %}

                     </svg>
            </div>
          <!--</li>-->

            <!--<li class="list-group-item">-->
            <span class="progress-bar-label list-group-item-heading lead"> Gun {{ ratios.gun }}% </span>
            <div class="Timeline">
              <svg height="10" style="width:100%">
                        <line x1="0%" y1="5" x2="100%" y2="5" style="stroke:#AAAAAA;stroke-width:8" />


                     {% for x1, x2 in time_dict.gun.items %}
                     <!--<circle cx={{ x1 }} cy="5" r="5" fill="#900000"/>-->
                     <line x1={{ x1 }} y1="5" x2={{ x2 }} y2="5" style="stroke:#900000;stroke-width:8" />
                     <!--<circle cx={{ x2 }} cy="5" r="5" fill="#900000"/>-->
                     {% endfor %}

                     </svg>
            </div>
          <!--</li>-->

        </div>
          <h1>Total Ratio</h1>
          {% for obj, ratio in total_obj.items %}
          <h4>{{ obj }} : {{ ratio }}%</h4>
          {% endfor %}
      </div>
    </div>
  </div>
</body>


</div>
</body>
<script>
    
</script>
</html>

