body {
  margin: 10px;
}

.Timeline {
  display: flex;
  height: 30px;
  width: 1000px;
}

.time {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 12px;
  color: #9E9E9E;
}

.time2 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: -12px;
  color: #9E9E9E;
}